<h6><%= link_to event.title, event_path(event) %></h6>
<p class="text-info"><%= event.place.address %></p>
<p class="text-dark"><strong>Le <%= event.date.strftime("%d %b %y") %> de <%= event.start_time.strftime("%H") %>h à <%= event.end_time.strftime("%H") %>h</strong></p>
