<div class="bodyhome">
  <div class="logo mx-auto">
    <p class="out">OUT</p>
  </div>
  <div class="color-line-top d-flex"></div>
  <%= image_tag "artist-test.png", :class => "avatar"%>

  <%= link_to 'Deconnexion', destroy_user_session_path, class: "btn_deconnexion", style: 'text-decoration: none !important;', method: :delete, data: { confirm: 'Are you sure?' } %>
  <!-- <button class="btn_deconnexion"><p>Deconnexion</p></button> -->
  <button class="btn_modifier"><p>Modifier</p></button>

  <div class="chapiter-your-style">
    <p class="title-chapiter">vos styles</p>
    <p class="lign-chapiter"> </p>
  </div>
  <div class="container text-center row d-flex justify-content-center">
    
    <div class="col">
      <input id="toggle1" type="checkbox">
      <label for="toggle1"><p class="ml-1">electro</p></label>
    </div>
    <div class="col">
      <input id="toggle2" type="checkbox">
      <label for="toggle2"><p class="ml-1">house</p></label>
    </div>
    <div class="col">
      <input id="toggle3" type="checkbox">
      <label for="toggle3"><p class="ml-1">techno</p></label>
    </div>
    <div class="col">
      <input id="toggle4" type="checkbox">
      <label for="toggle4"><p class="ml-2">funk</p></label>
    </div>
  </div>
  <div class="container text-center row d-flex justify-content-center">
    <div class="col">
      <input id="toggle5" type="checkbox">
      <label for="toggle5"><p class="ml-2">rock</p></label>
    </div>
    <div class="col">
      <input id="toggle6" type="checkbox">
      <label for="toggle6"><p class="ml-1">hip-hop</p></label>
    </div>
    <div class="col">
      <input id="toggle7" type="checkbox">
      <label for="toggle7"><p class="ml-2">latino</p></label>
    </div>
  </div>
<!-- ---------------ANCIENS EVENEMENT------------------ -->
</div>
<div class="chapiter-your-old-event">
  <p class="title-chapiter">vos anciens évènements</p>
  <p class="lign-chapiter"> </p>
</div>
<div class="app">
  <ul class="hs">
    <li class="li-event-old"> <div class="card-event-old ml-2">
      <div class="color-line-event"> </div>
      <%= image_tag "test.png", :class => "img_event_old" %>
      <h3 class="title-event"> evenement title amour gloire</h3>
      <p class="text-event"> <%= image_tag "musical-note.png", :size => "15x15", :class => "logo_event" %>name  <br><%= image_tag "calendar.png", :size => "15x15", :class => "logo_event" %> date <br><%= image_tag "location-point.png", :size => "15x15", :class => "logo_event" %> place </p>
    </div> </li>
    <li class="li-event-old"><div class="card-event-old">
      <div class="color-line-event"> </div>
      <%= image_tag "test.png", :class => "img_event_old" %>
      <h3 class="title-event"> evenement title de merde</h3>
      <p class="text-event"> <%= image_tag "musical-note.png", :size => "15x15", :class => "logo_event" %>name <br><%= image_tag "calendar.png", :size => "15x15", :class => "logo_event" %> date <br><%= image_tag "location-point.png", :size => "15x15", :class => "logo_event" %> place </p>
    </div></li>
    <li class="li-event-old"><div class="card-event-old">
      <div class="color-line-event"> </div>
      <%= image_tag "test.png", :class => "img_event_old" %>
      <h3 class="title-event"> evenement title</h3>
      <p class="text-event"> <%= image_tag "musical-note.png", :size => "15x15", :class => "logo_event" %>name <br><%= image_tag "calendar.png", :size => "15x15", :class => "logo_event" %> date <br><%= image_tag "location-point.png", :size => "15x15", :class => "logo_event" %> place </p>
    </div class="li-event-old"></li>
    <li class="li-event-old"><div class="card-event-old">
      <div class="color-line-event"> </div>
      <%= image_tag "test.png", :class => "img_event_old" %>
      <h3 class="title-event"> evenement title</h3>
      <p class="text-event"> <%= image_tag "musical-note.png", :size => "15x15", :class => "logo_event" %>name <br><%= image_tag "calendar.png", :size => "15x15", :class => "logo_event" %> date <br><%= image_tag "location-point.png", :size => "15x15", :class => "logo_event" %> place </p>
    </div class="li-event-old"></li>
    <li class="li-event-old"><div class="card-event-old">
      <div class="color-line-event"> </div>
      <%= image_tag "test.png", :class => "img_event_old" %>
      <h3 class="title-event"> evenement title</h3>
      <p class="text-event"> <%= image_tag "musical-note.png", :size => "15x15", :class => "logo_event" %>name <br><%= image_tag "calendar.png", :size => "15x15", :class => "logo_event" %> date <br><%= image_tag "location-point.png", :size => "15x15", :class => "logo_event" %> place </p>
    </div></li>
  </ul>
</div>
</div>
</div>
<!-- ---------------ARTISTES PREFERES------------------ -->
</div>
<div class="chapiter-your-fav-artist">
  <p class="title-chapiter">vos artistes préférés</p>
  <p class="lign-chapiter"> </p>
</div>
<div class="app" style="position: relative; top: -305px">
<ul class="hs">
        <li class="li_height_artist">
          <div class="card-artist">
            <div class="color-line"> </div>
            <h3 class="card-title-artist"> name artist</h3>
            <%= image_tag "artist-test.png", :class => "img_artist-card" %>
          </div>
        </li>
        <li class="li_height_artist">
          <div class="card-artist">
            <div class="color-line"> </div>
            <h3 class="card-title-artist"> name artist</h3>
            <%= image_tag "artist-test.png", :class => "img_artist-card" %>
          </div>
        </li>
        <li class="li_height_artist">
          <div class="card-artist">
            <div class="color-line"> </div>
            <h3 class="card-title-artist"> name artist</h3>
            <%= image_tag "artist-test.png", :class => "img_artist-card" %>
          </div>
        </li>
        <li class="li_height_artist">
          <div class="card-artist">
            <div class="color-line"> </div>
            <h3 class="card-title-artist"> name artist</h3>
            <%= image_tag "artist-test.png", :class => "img_artist-card" %>
          </div>
        </li>
      </ul>
    </div>

<div class="container mt-5">
    <div>Evènements auxquels je participe :</div>
    <% current_user.user_participations.each do |user_participation| %>
      <div>
          <%= user_participation.event.title %>
      </div>
    <% end %>
  </div>
