<div class="bodyhome d-flex flex-column">
  <div class="logo mx-auto">
    <p class="out">OUT</p>
  </div>
  <div class="text-center">
  <div class="color-line-top d-flex flex-column"></div>
  <div class="ses_prochains_events d-flex justify-content-start" style="height: 30px;">
    <div class="taille_texte">Selectionnés pour vous</div>
  </div>
  <p class="lign-chapiter2" style="left: 0px;">Top events filtrés par les favorites et les artistes likés, triés par date</p>

    <div class="d-flex flex-column justify-content-center" style="position: relative;top: 380px;">
      <% @events.order(date: 'asc').each do |event| %>
      <%= link_to(event_path(event.id)) do %>
        <% if event.date < (Date.today + 7.day) %>
          <div class="card-next-event" style="position: relative;left: -20px;">
            <div class="color-line-next-event">
            </div>
            <%= image_tag event.photo, :class => "img_next_event" %>
            <h3 class="title-event"><%= event.title %></h3>
            <p class="text-next-event">
              <%= image_tag "musical-note.png", :size => "15x15", :class => "logo_next_event" %><%= event.category %> -<% artist_category_array_home = [] %>
                  <% event.artists.each do |artist| %>
                    <% unless artist_category_array_home.include?(artist.category + " ") %>
                      <% artist_category_array_home << artist.category + " " %>
                    <% end %>
                  <% end %>
                  <% if artist_category_array_home.length > 2 %>
                    <%= artist_category_array_home.first(2).join %>...
                  <% else %>
                    <%= artist_category_array_home.join %>
                  <% end %><br>
              <%= image_tag "time.png", :size => "15x15", :class => "logo_next_event" %><% start_time = event.start_time %>
                  <% end_time = event.end_time %>
                  <%= start_time.strftime('%R') %> - <%= end_time.strftime('%R') %><br>
              <%= image_tag "location-point.png", :size => "15x15", :class => "logo_next_event" %> <% adresse_for_card = event.place.address %>
                <% if adresse_for_card.length > 20 %>
                  <%= adresse_for_card[0..20] + '...'%>
                <% else %>
                  <%= event.place.address %>
                <% end %> </p>
            <div class="card-next-event-date d-flex flex-column">
              <% p= event.date %>
              <h2><%= p.strftime('%d') %></h2>
              <h3> <%= p.strftime('%b') %> </h3>
            </div>
          </div>
        <% end %>
      <% end %>
      <% end %>
    </div>
  </div>
