<div class="bodyhome">
<div class="logo mx-auto">
  <p class="out">OUT</p>
</div>
<div class="color-line-top d-flex"></div>
<div class="chapiter-night-event">
  <p class="title-chapiter">évènements ce soir</p>
  <p class="lign-chapiter"> </p>
</div>
<div class="row">
  <div class="app">
    <ul class="hs">
      <li> <div class="card-event ml-2">
        <div class="color-line-event"> </div>
        <%= image_tag "test.png", :class => "img_event" %>
        <h3 class="title-event"> evenement title</h3>
        <p class="text-event"> <%= image_tag "musical-note.png", :size => "15x15", :class => "logo_event" %>name <br><%= image_tag "calendar.png", :size => "15x15", :class => "logo_event" %> date <br><%= image_tag "location-point.png", :size => "15x15", :class => "logo_event" %> place </p>
      </div> </li>
      <li><div class="card-event">
        <div class="color-line-event"> </div>
        <%= image_tag "test.png", :class => "img_event" %>
        <h3 class="title-event"> evenement title</h3>
        <p class="text-event"> <%= image_tag "musical-note.png", :size => "15x15", :class => "logo_event" %>name <br><%= image_tag "calendar.png", :size => "15x15", :class => "logo_event" %> date <br><%= image_tag "location-point.png", :size => "15x15", :class => "logo_event" %> place </p>
      </div></li>
      <li><div class="card-event">
        <div class="color-line-event"> </div>
        <%= image_tag "test.png", :class => "img_event" %>
        <h3 class="title-event"> evenement title</h3>
        <p class="text-event"> <%= image_tag "musical-note.png", :size => "15x15", :class => "logo_event" %>name <br><%= image_tag "calendar.png", :size => "15x15", :class => "logo_event" %> date <br><%= image_tag "location-point.png", :size => "15x15", :class => "logo_event" %> place </p>
      </div></li>
      <li><div class="card-event">
        <div class="color-line-event"> </div>
        <%= image_tag "test.png", :class => "img_event" %>
        <h3 class="title-event"> evenement title</h3>
        <p class="text-event"> <%= image_tag "musical-note.png", :size => "15x15", :class => "logo_event" %>name <br><%= image_tag "calendar.png", :size => "15x15", :class => "logo_event" %> date <br><%= image_tag "location-point.png", :size => "15x15", :class => "logo_event" %> place </p>
      </div></li>
      <li><div class="card-event">
        <div class="color-line-event"> </div>
        <%= image_tag "test.png", :class => "img_event" %>
        <h3 class="title-event"> evenement title</h3>
        <p class="text-event"> <%= image_tag "musical-note.png", :size => "15x15", :class => "logo_event" %>name <br><%= image_tag "calendar.png", :size => "15x15", :class => "logo_event" %> date <br><%= image_tag "location-point.png", :size => "15x15", :class => "logo_event" %> place </p>
      </div></li>
    </ul>
    <div class="chapiter-artist-month">
      <p class="title-chapiter">artistes du moment</p>
      <p class="lign-chapiter"> </p>
    </div>

    <ul class="hs2">
      <li class="li_height">
        <div class="card-artist">
          <div class="color-line"> </div>
          <h3 class="card-title-artist"> name artist</h3>
          <%= image_tag "artist-test.png", :class => "img_artist-card" %>
        </div>
      </li>
      <li class="li_height">
        <div class="card-artist">
          <div class="color-line"> </div>
          <h3 class="card-title-artist"> name artist</h3>
          <%= image_tag "artist-test.png", :class => "img_artist-card" %>
        </div>
      </li>
      <li class="li_height">
        <div class="card-artist">
          <div class="color-line"> </div>
          <h3 class="card-title-artist"> name artist</h3>
          <%= image_tag "artist-test.png", :class => "img_artist-card" %>
        </div>
      </li>
      <li class="li_height">
        <div class="card-artist">
          <div class="color-line"> </div>
          <h3 class="card-title-artist"> name artist</h3>
          <%= image_tag "artist-test.png", :class => "img_artist-card" %>
        </div>
      </li>
    </ul>
  </div>
  <div class="color-line-top d-flex"></div>
  <div class="chapiter-night-event">
    <p class="title-chapiter">évènements ce soir</p>
    <p class="lign-chapiter"> </p>
  </div>
  <div class="row">
    <div class="app">
      <ul class="hs">
        <li> <div class="card-event ml-2">
          <div class="color-line-event"> </div>
          <%= image_tag "test.png", :class => "img_event" %>
          <h3 class="title-event"> evenement title amour gloire</h3>
          <p class="text-event"> <%= image_tag "musical-note.png", :size => "15x15", :class => "logo_event" %>name  <br><%= image_tag "calendar.png", :size => "15x15", :class => "logo_event" %> date <br><%= image_tag "location-point.png", :size => "15x15", :class => "logo_event" %> place </p>
        </div> </li>
        <li><div class="card-event">
          <div class="color-line-event"> </div>
          <%= image_tag "test.png", :class => "img_event" %>
          <h3 class="title-event"> evenement title</h3>
          <p class="text-event"> <%= image_tag "musical-note.png", :size => "15x15", :class => "logo_event" %>name <br><%= image_tag "calendar.png", :size => "15x15", :class => "logo_event" %> date <br><%= image_tag "location-point.png", :size => "15x15", :class => "logo_event" %> place </p>
        </div></li>
        <li><div class="card-event">
          <div class="color-line-event"> </div>
          <%= image_tag "test.png", :class => "img_event" %>
          <h3 class="title-event"> evenement title</h3>
          <p class="text-event"> <%= image_tag "musical-note.png", :size => "15x15", :class => "logo_event" %>name <br><%= image_tag "calendar.png", :size => "15x15", :class => "logo_event" %> date <br><%= image_tag "location-point.png", :size => "15x15", :class => "logo_event" %> place </p>
        </div></li>
        <li><div class="card-event">
          <div class="color-line-event"> </div>
          <%= image_tag "test.png", :class => "img_event" %>
          <h3 class="title-event"> evenement title</h3>
          <p class="text-event"> <%= image_tag "musical-note.png", :size => "15x15", :class => "logo_event" %>name <br><%= image_tag "calendar.png", :size => "15x15", :class => "logo_event" %> date <br><%= image_tag "location-point.png", :size => "15x15", :class => "logo_event" %> place </p>
        </div></li>
        <li><div class="card-event">
          <div class="color-line-event"> </div>
          <%= image_tag "test.png", :class => "img_event" %>
          <h3 class="title-event"> evenement title</h3>
          <p class="text-event"> <%= image_tag "musical-note.png", :size => "15x15", :class => "logo_event" %>name <br><%= image_tag "calendar.png", :size => "15x15", :class => "logo_event" %> date <br><%= image_tag "location-point.png", :size => "15x15", :class => "logo_event" %> place </p>
        </div></li>
      </ul>
      <div class="chapiter-artist-month">
        <p class="title-chapiter">artistes du moment</p>
        <p class="lign-chapiter"> </p>
      </div>
      
      <ul class="hs2">
        <li class="li_height">
          <div class="card-artist">
            <div class="color-line"> </div>
            <h3 class="card-title-artist"> name artist</h3>
            <%= image_tag "artist-test.png", :class => "img_artist-card" %>
          </div>
        </li>
        <li class="li_height">
          <div class="card-artist">
            <div class="color-line"> </div>
            <h3 class="card-title-artist"> name artist</h3>
            <%= image_tag "artist-test.png", :class => "img_artist-card" %>
          </div>
        </li>
        <li class="li_height">
          <div class="card-artist">
            <div class="color-line"> </div>
            <h3 class="card-title-artist"> name artist</h3>
            <%= image_tag "artist-test.png", :class => "img_artist-card" %>
          </div>
        </li>
        <li class="li_height">
          <div class="card-artist">
            <div class="color-line"> </div>
            <h3 class="card-title-artist"> name artist</h3>
            <%= image_tag "artist-test.png", :class => "img_artist-card" %>
          </div>
        </li>
      </ul>
      
    </div>
    <div class="chapiter-next-event">
      <p class="title-chapiter">évènements à venir</p>
      <p class="lign-chapiter"> </p>
    </div>
  </div>
  
</div>
<div class="d-flex flex-column">
    <div class="card-next-event">
      <div class="color-line-next-event">
      </div>
      <%= image_tag "test.png", :class => "img_next_event" %>
      <h3 class="title-event"> evenement title</h3>
      <p class="text-next-event"> <%= image_tag "musical-note.png", :size => "15x15", :class => "logo_next_event" %>name <br><%= image_tag "calendar.png", :size => "15x15", :class => "logo_next_event" %> date <br><%= image_tag "location-point.png", :size => "15x15", :class => "logo_next_event" %> place </p>
      <div class="card-next-event-date d-flex flex-column">
        <h2>05</h2> <br>
        <h3> sept </h3>
      </div>
    </div>
    <div class="card-next-event">
      <div class="color-line-next-event">
      </div>
      <%= image_tag "test.png", :class => "img_next_event" %>
      <h3 class="title-event"> evenement title</h3>
      <p class="text-next-event"> <%= image_tag "musical-note.png", :size => "15x15", :class => "logo_next_event" %>name <br><%= image_tag "calendar.png", :size => "15x15", :class => "logo_next_event" %> date <br><%= image_tag "location-point.png", :size => "15x15", :class => "logo_next_event" %> place </p>
      <div class="card-next-event-date d-flex flex-column">
        <h2>05</h2> <br>
        <h3> sept </h3>
      </div>
    </div>
    <div class="card-next-event">
      <div class="color-line-next-event">
      </div>
      <%= image_tag "test.png", :class => "img_next_event" %>
      <h3 class="title-event"> evenement title</h3>
      <p class="text-next-event"> <%= image_tag "musical-note.png", :size => "15x15", :class => "logo_next_event" %>name <br><%= image_tag "calendar.png", :size => "15x15", :class => "logo_next_event" %> date <br><%= image_tag "location-point.png", :size => "15x15", :class => "logo_next_event" %> place </p>
      <div class="card-next-event-date d-flex flex-column">
        <h2>05</h2> <br>
        <h3> sept </h3>
      </div>
    </div>
    <div class="card-next-event">
      <div class="color-line-next-event">
      </div>
      <%= image_tag "test.png", :class => "img_next_event" %>
      <h3 class="title-event"> evenement title</h3>
      <p class="text-next-event"> <%= image_tag "musical-note.png", :size => "15x15", :class => "logo_next_event" %>name <br><%= image_tag "calendar.png", :size => "15x15", :class => "logo_next_event" %> date <br><%= image_tag "location-point.png", :size => "15x15", :class => "logo_next_event" %> place </p>
      <div class="card-next-event-date d-flex flex-column">
        <h2>05</h2> <br>
        <h3> sept </h3>
      </div>
    </div>
    <br>
  </div>
</div>

